<!DOCTYPE html>
<html>
  <head>
    <title>Appname</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "index" %>
    <%= javascript_include_tag "sample_index" %>

    <%= stylesheet_link_tag "bootstrap", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "bootstrap" %>
  </head>

  <body onload="currentTime()">
    <%= yield %>
  </body>
</html>
